body{
  margin: 0;
  padding: 0;
  overflow: hidden;
}

@font-face {
  font-family: PrimaryFont;
  src: url(../fonts/Main.ttf);
}

*{
  font-family: 'PrimaryFont';
}

.message-container{
  width: 600px;
  display: inline-block;
  position: fixed;
  top: 0;
  left: calc(50% - 300px);
}

.message-container>div>div{
  margin: 12px auto;
}
