@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

* {
  font-family: 'Open Sans' !important;
}

.message-container {
  width: 600px;
  display: inline-block;
  position: fixed;
  top: 0;
  left: calc(50% - 300px);
}

.message-container>div>div {
  margin: 12px auto;
}

html.dark code {
  border-radius: 4px !important;
  border: solid 1px #50505050;
}

code
{
  border-radius: 4px !important;
  border: solid 1px #60606030;
}

p>code {
  padding: 0px .2rem;
}
